name: test

on: [push, pull_request]

permissions:  
  contents: read

jobs:
  test:
    name: ${{ matrix.toolchain }} ${{ matrix.profile.name }} (${{ matrix.features }})
    runs-on: ubuntu-latest
    steps:
      - if: matrix.features == 'hyperv'
        run: sudo apt-get update && sudo apt-get install -y pkg-config libtss2-dev
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo test ${{ matrix.profile.flag }} --features=${{ matrix.features }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - nightly
          - beta
          - stable
        profile:
          - name: debug
          - name: release
            flag: --release
        features:
          - default
          - hyperv
